@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    margin:0;
    padding:0;
    font-family:'Noto Sans KR', sans-serif;
}
body{background-color: #ed7110;}
ul{list-style: none;}
a{text-decoration: none;}
.clear{clear:both;}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/* header */
header{
    padding:3vw 5vw;
}
#gohome{
    float: left;
    width:5.5%;
    background:url("../img/home.png") no-repeat right center;
    background-size:25%;
}
nav{
    float:right;
    height:10vw;
}
#gohome a{
    color:#fff;
    font-size:1vw;
    display:block;
    letter-spacing: 0.1vw;
}
#gohome:hover{
    background:url("../img/homehover.png") no-repeat right center;
    background-size:25%;
}
#gohome:hover a{
    color:#f5f5dc;
}
.gnb>li{
    float: left;
    position: relative;
}
.gnb>li:not(:last-child){
    margin-right: 2vw;
}
.gnb>li>a{
    font-size: 1vw;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1vw;
    
}
.gnb>li>a:hover{
    color:#15703d;
}
.gnb>li.menuon>a{
    color:#15703d;
}
nav:hover .submenu{
    display:block;
}
.submenu{
    width:100%;
    text-align: right;
    margin-top: 0.7vw;
    display:none;
    position: absolute;
    right:0;
    top:90%;
}
.submenu li{
    margin-bottom: 0.8vw;
}
.submenu li a{
    font-size: 0.8vw;
    color:#fff;
    font-style: italic;
    font-weight: 600;
    display:block;
    
}
.submenu li a:hover{
    color:beige;
}

/* title */
#pagetitle{
    padding:2vw 15vw 2vw;
    
}
.pt{
    width:100%;
    text-align:center;
    color:#fff;
    font-size:10vw;
    font-weight: 600;
    letter-spacing: 0.5vw;
    position:relative;
}
.pt::after{
    content: "";
    display:block;
    position:absolute;
    bottom:10%;
    left:calc(50% - 31%);
    width:60%;
    height:36%;
    background-color: #15703d;
    z-index: -1;
}

#article_wrap{
    padding:0 8vw;
    margin-top:3vw;
    padding-bottom:5vw;

}
.article_inner{
    width:100%;
    background-color: #fff;
}

#topinfo{
    margin-bottom:1vw;
}
#arti_num{
    float:left;
    color:#fff;
    padding:0.5vw 0;
    font-size:0.9vw;
}
.an_color{
    color:#15703d;
    font-weight:600;
}
input{
    float:right;
    width:28%;
    padding:0.5vw;
    background:url("../img/find.png") no-repeat 98% center;
    background-size: 5.5%;
    border:none;
    background-color:#fff;
    font-size:0.7vw;
}
.article{
    padding:0 2.5vw;
}
.article a{
    width:100%;
    padding:3vw 0;
    display:block;
    border-bottom:1px solid #ccc;
}
.article a:hover .arti_title{
    text-decoration: underline;
}
.arti_left{
    float:left;
    width:60%;
}
.arti_right{
    float:right;
    width:27%;
    height:9vw;
}
.arti_title{
    font-size:1vw;
    color:#ed7110;
    font-weight:600;
    margin-bottom:1.5vw;
}
.arti_maintext{
    font-size:0.9vw;
    color:#ed7110;
    font-weight: 400;
    padding-bottom:1vw;
    line-height: 1.5vw;
}
.date{
    font-size:0.8vw;
    color:#ed7110;
    margin-top:1vw;
}

#ar1{
    background:url("../img/article1.jpg") no-repeat center center;
    background-size: cover;
}
#ar2{
    background:url("../img/article2.jpg") no-repeat center center;
    background-size: cover;
}
#ar3{
    background:url("../img/article3.jpg") no-repeat center center;
    background-size: cover;
}
#ar4{
    background:url("../img/article4.jpg") no-repeat center center;
    background-size: cover;
}
#ar5{
    background:url("../img/article5.jpg") no-repeat center center;
    background-size: cover;
}

/* 페이지 버튼 */
.page_wrap{
   padding:1vw 0;
}
#page{
    box-sizing: border-box;
    margin:1.5vw auto;
    width:7%;
    height:1.2vw;
}
#page li{
    float:left;
    width:25%;
    text-align:center;
}
#page li a{
    display:block;
    width:100%;
    height:100%;
    font-size:0.8vw;
    color:#ccc;
}
#prev{
    border:1px solid #ccc;
    box-sizing: border-box;
    height:100%;
    background:url("../img/prev.png") no-repeat center center;
    background-size: 46%;
}
#next{
    border:1px solid #ccc;
    box-sizing: border-box;
    height:100%;
    background:url("../img/next.png") no-repeat center center;
    background-size: 46%;
}
#page li.pageon a{
    color:#000;
    text-decoration: underline;
}
#page li a:hover{
    color:#000;
}




