@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    margin:0;
    padding:0;
    font-family:'Noto Sans KR', sans-serif;
}
body{color:#313131;}
ul{list-style: none;}
a{text-decoration: none;}
.clear{clear:both;}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/* header */
header{
    padding:3vw 5vw;
}
#gohome{
    float:left;
    width:5.2%;
}
#gohome a{
    display:block;
    color:#ed7110;
    font-weight:600;
    font-size:1vw;
    background:url("../img/home_o.png") no-repeat right center;
    background-size:25%;
}
#gohome a:hover{
    color:#eb6100;
    background:url("../img/homehover_o.png") no-repeat right center;
    background-size:25%;
}
nav{
    float:right;
}

.gnb>li{
    float:left;
    position:relative;
}
.gnb>li>a{
    text-align:right;
    padding-bottom:0.7vw;
    font-size:1vw;
    padding-left:2vw;
}
.gnb li a{
    display:block;
    color:#ed7110;
    font-weight:600;
}
.submenu li a{
    text-align:right;
    padding-bottom:0.4vw;
    font-style:italic;
    font-size:0.9vw;
}
.gnb>li:hover>a{
    color:#15703d;
}
.submenu li a:hover{
    color:#15703d;
}

.gnb li.menuon a{
    color:#15703d;
}
.submenu{
    display: none;
    position:absolute;
    right:0;
    z-index:10;
    width:100%;
}

/* title */
#attr_title{
    margin:8vw 10vw 0vw;
    border-bottom:1px solid #000;
    padding-bottom:8vw;
}
#at1{
    font-size:8vw;
    font-weight:600;
    position:relative;
    color:#fff;
}
#at1::after{
    content:"";
    display:block;
    position:absolute;
    background-color:#ed7110;
    width:37%;
    height:65%;
    top:20%;
    left:0;
    z-index:-1;
}
#at2{
    font-size:3.2vw;
    font-weight:600;
    line-height:4vw;
    letter-spacing:0.2vw;
    color:#ed7110;
    background:url("../img/hospital_icon.png") no-repeat right bottom;
    background-size:15%;
}

/* 응급실 정보 */
#hospital_list{
    margin:5vw 10vw 0;
}





/* footer */
footer{
    margin:20vw 10vw 1vw;
    height:0.8vw;
}
.copylogo{
    position:relative;
}
.copylogo p{
    position:absolute;
    bottom:0;
    right:5vw;
    color:#eba97a;
}
.f_logo{
    position:absolute;
    right:0;
    bottom:0;
    width:4.3vw;
    height:5vw;
    background:url("../img/f_logo.png") no-repeat right center;
    background-size:contain;
}